<div class="updform" *ngFor="let da of danimalsList">
    <div class="double"><h3>{{da.name7}}</h3><button class="selectbutton" (click)="onSelect(da)">Select</button></div>
</div>
<div *ngIf="selectedItem">
<form #form2="ngForm" (ngSubmit)="updateRest(form2.value)" class="updform">
    <input type="text" placeholder="name7" name="name7" ngModel="{{selectedItem.name7}}">
    <input type="number" placeholder="weight" name="weight" ngModel="{{selectedItem.weight}}">
    <input type="submit" class="addbutton" value="Update">
</form>
</div>